/* table {
    border: "0.5";
    background-color: "D3D3D3";
    width: "80%";
    height: "80%";
    padding-left: "10%";
    padding-top: "10%";
}

.form_conf {
    text-align: center;
}
.form_conf form {
    display: inline-block;
    margin: 0 10px;
} */