<html>
    <head>
        <title>課題登録</title>
    </head>
    <body>
        <form action="{% url 'assignments' %}">
            <input type="submit" value="戻る"/>
        </form>
        <h2>課題登録</h2>
        <table>
            <form method="post" action="">
            {% csrf_token %}
            <tbody>
                <tr>
                    <th>期限</th>
                    <td>
                        {{ form.deadline }}
                        {% if warning_d %}
                            <span style="color:red">{{form.deadline.help_text}}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>授業名</th>
                    <td>
                        {{ form.subject }}
                        {% if warning_s %}
                            <span style="color:red">{{form.subject.help_text}}</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>メモ</th>
                    <td>{{ form.memo }}</td>
                </tr>
                <tr>
                    <th>色</th>
                    <td>{{ form.color }}</td>
                </tr>
                <tr>
                    <th>種類</th>
                    <td>{{ form.label }}</td>
                </tr>
            </tbody>
              <tr>
                <td>
                    <input type="submit" value="保存" name="save">
                    <input type="reset" value="元に戻す" name="reset">
                </td>
              </tr>
            </form>
          </table>
    </body>
</html>