<html>
    <head>
        <title>設定</title>
    </head>
    <body>
        <form action="{% url 'main' %}">
            <input type="submit" value="メイン"/>
        </form>
        <h2>設定</h2>
        <table>
            <form method="post" action="">
            {% csrf_token %}
            <tbody>
              <tr>
                <th>土曜日も表示する</th>
                <td>{{ form.sat }}</td>
              </tr>
              <tr>
                <th>日曜日も表示する</th>
                <td>{{ form.sun }}</td>
              </tr>
              <tr>
                <th>表示する最終時限</th>
                <td>{{ form.period }}</td>
              </tr>
              <tr>
                <th>一限</th>
                <td>{{ form.s1 }} 〜 {{ form.e1 }}{{ form.s1.help_text }}</td>
              </tr>
              <tr>
                <th>二限</th>
                <td>{{ form.s2 }} 〜 {{ form.e2 }}</td>
              </tr>
              <tr>
                <th>三限</th>
                <td>{{ form.s3 }} 〜 {{ form.e3 }}</td>
              </tr>
              <tr>
                <th>四限</th>
                <td>{{ form.s4 }} 〜 {{ form.e4 }}</td>
              </tr>
              <tr>
                <th>五限</th>
                <td>{{ form.s5 }} 〜 {{ form.e5 }}</td>
              </tr>
              <tr>
                <th>六限</th>
                <td>{{ form.s6 }} 〜 {{ form.e6 }}</td>
              </tr>
              <tr>
                <th>七限</th>
                <td>{{ form.s7 }} 〜 {{ form.e7 }}</td>
              </tr>
              <tr>
                <th>時間になったらリンクを開く</th>
                <td>{{ form.open_link }}</td>
              </tr>
            </tbody>
              <tr>
                <td>
                    <input type="submit" value="保存">
                    <input class="btn btn-secondary" type="reset" value="元に戻す">
                </td>
              </tr>
            </form>
          </table>
    </body>
</html>